<div mat-dialog-title class="flex items-center justify-between">
    <div class="flex items-center" [ngClass]="{'text-red-600': type === 'error', 'text-primary-600': type !== 'error'}">
        <div class="mr-2">
            <mat-icon *ngIf="type==='info'" svgIcon="mat:info" class="icon"></mat-icon>
            <mat-icon *ngIf="type==='error'" svgIcon="mat:warning" class="icon"></mat-icon>
            <mat-icon *ngIf="type==='warning'" svgIcon="mat:warning" class="icon"></mat-icon>
            <mat-icon *ngIf="type==='confirm'" [fontIcon]="'fa-question-circle'" class="icon" fontSet="fa"></mat-icon>
        </div>
        <div>{{title}}</div>
    </div>
    <!-- <button type="button" mat-icon-button (click)="close()" tabindex="-1">
        <mat-icon svgIcon="mat:close"></mat-icon>
    </button> -->
</div>

<mat-dialog-content>
    <p [innerHTML]="message"></p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button *ngIf="type==='confirm'" (click)="close()">{{cancelLabel}}</button>
    <button mat-raised-button [ngClass]="{'mat-warn': type === 'error'}" color="primary"
        (click)="okFunction()">{{okLabel}}</button>
</mat-dialog-actions>