<vex-secondary-toolbar current="THÔNG TIN HỌC SINH">
    <vex-breadcrumbs [crumbs]="['Thông tin học sinh', 'Danh sách học sinh']" class="flex-auto"></vex-breadcrumbs>
</vex-secondary-toolbar>

<div [@stagger]="true" class="p-6 container-fluid">
    <div class="flex flex-col sm:flex-row gap-4">
        <div @fadeInUp class="card flex-auto">
            <div class="px-6 py-4 border-b flex items-center">
                <mat-icon class="pr-1" color="primary" svgIcon="mat:search"></mat-icon>
                <h2 class="title m-0 text-primary-600">ĐIỀU KIỆN TÌM KIẾM</h2>
            </div>

            <div [formGroup]="studentForm" class="px-6 py-4 flex flex-col">
                <div class="flex flex-col sm:flex-row sm:gap-4">
                    <mat-form-field class="flex-auto">
                        <mat-label>VP TUYỂN SINH</mat-label>
                        <mat-select placeholder="Chọn văn phòng tuyển sinh" formControlName="admissionsOffice">
                            <ng-container *ngFor="let item of listAdmissionsOffices">
                                <mat-option [value]="item.OFFICE_ID">{{ item['OFFICE_NAME'] }}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="flex-auto">
                        <mat-label>VP ĐÀO TẠO</mat-label>
                        <mat-select placeholder="Chọn văn phòng đào tạo" formControlName="trainingOffice">
                            <ng-container *ngFor="let item of listTrainingOffices">
                                <mat-option [value]="item.OFFICE_ID">{{ item['OFFICE_NAME'] }}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex flex-col sm:flex-row sm:gap-4">
                    <mat-form-field class="flex-auto">
                        <mat-label>KHU VỰC KTX</mat-label>
                        <input matInput placeholder="Nhập khu vực KTX (nhập một phần)"
                            formControlName="dormitoryArea" />
                    </mat-form-field>

                    <mat-form-field class="flex-auto">
                        <mat-label>TRƯỜNG TIẾNG</mat-label>
                        <input matInput placeholder="Nhập tên trường tiếng (nhập một phần)"
                            formControlName="languageSchool" />
                    </mat-form-field>
                </div>

                <div class="flex flex-col sm:flex-row sm:gap-4">
                    <mat-form-field class="flex-auto">
                        <mat-label>LỘ TRÌNH BAY</mat-label>
                        <mat-select placeholder="Chọn lộ trình bay" formControlName="flightRoute">
                            <ng-container *ngFor="let item of listFlights">
                                <mat-option [value]="item.FLIGHT_ID">{{ item['FLIGHT_ROUTE'] }}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="flex-auto">
                        <mat-label>ĐOÀN NHẬP CẢNH</mat-label>
                        <input matInput placeholder="Nhập tên đoàn nhập cảnh (nhập một phần)"
                            formControlName="entryGroup" />
                    </mat-form-field>
                </div>

                <div class="flex flex-col sm:flex-row sm:gap-4">
                    <mat-form-field class="flex-auto">
                        <mat-label>NGÀY XUẤT CẢNH</mat-label>
                        <input matInput [matDatepicker]="departureDate" placeholder="Nhập ngày xuất cảnh"
                            formControlName="departureDate" appDateInput />
                        <mat-datepicker-toggle [for]="departureDate" matIconSuffix></mat-datepicker-toggle>
                        <mat-datepicker #departureDate></mat-datepicker>
                        <mat-error *ngIf="studentForm.get('departureDate')?.hasError('invalidDate')">
                            Định dạng ngày không hợp lệ. Định dạng đúng là
                            {{ currentLanguage === 'JP' ? 'YYYY/MM/DD' : 'DD/MM/YYYY' }}.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>NGÀY NHẬP CẢNH</mat-label>
                        <input matInput [matDatepicker]="formDatepickerRef1" placeholder="Nhập ngày nhập cảnh"
                            formControlName="entryDate" appDateInput />
                        <mat-datepicker-toggle [for]="formDatepickerRef1" matIconSuffix></mat-datepicker-toggle>
                        <mat-datepicker #formDatepickerRef1></mat-datepicker>
                        <mat-error *ngIf="studentForm.get('entryDate')?.hasError('invalidDate')">
                            Định dạng ngày không hợp lệ. Định dạng đúng là
                            {{ currentLanguage === 'JP' ? 'YYYY/MM/DD' : 'DD/MM/YYYY' }}.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="flex flex-col sm:flex-row sm:gap-4">
                    <mat-form-field class="flex-auto">
                        <mat-label>ĐĂNG KÝ NƠI Ở</mat-label>
                        <mat-select placeholder="Chọn nơi ở đã đăng ký" formControlName="registeredDormitory">
                            <ng-container *ngFor="let item of listDormitories">
                                <mat-option [value]="item.DORMITORY_ID">{{ item['DORMITORY_NAME'] }}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="flex-auto">
                        <mat-label>ĐĂNG KÝ DỊCH VỤ</mat-label>
                        <mat-select placeholder="Chọn dịch vụ đã đăng ký" formControlName="registeredService">
                            <ng-container *ngFor="let item of listServices">
                                <mat-option [value]="item.SERVICE_ID">{{ item['SERVICE_NAME'] }}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex flex-col sm:flex-row sm:gap-4">
                    <mat-form-field class="flex-auto">
                        <mat-label>MÃ HỌC SINH</mat-label>
                        <input matInput placeholder="Nhập mã học sinh" formControlName="studentId" />
                    </mat-form-field>

                    <mat-form-field class="flex-auto">
                        <mat-label>HỌ VÀ TÊN HỌC SINH</mat-label>
                        <input matInput placeholder="Nhập tên học sinh" formControlName="studentName" />
                    </mat-form-field>
                </div>

                <div class="flex items-center justify-end gap-2">
                    <button mat-button type="button" (click)="resetForm()">XÓA</button>
                    <button color="primary" mat-flat-button type="button" (click)="search()">TÌM KIẾM</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div [@stagger]="true" class="p-6 container-fluid">
    <div class="card overflow-auto">
        <div class="px-6 h-16 border-b sticky left-0 flex items-center">
            <mat-icon color="primary" class="pr-1" svgIcon="mat:list"></mat-icon>
            <h2
                class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
                <span class="text-primary-600" *ngIf="selection.isEmpty()">KẾT QUẢ TÌM KIẾM</span>
                <span class="text-primary-600" *ngIf="selection.hasValue()">Đã chọn: {{ selection.selected.length }} học
                    sinh</span>
            </h2>

            <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r flex-none">
                <button (click)="deleteCustomers(selection.selected)" color="primary" mat-icon-button
                    matTooltip="Delete selected" type="button">
                    <mat-icon svgIcon="mat:delete"></mat-icon>
                </button>

                <button color="primary" mat-icon-button matTooltip="Another action" type="button">
                    <mat-icon svgIcon="mat:folder"></mat-icon>
                </button>
            </div>

            <mat-form-field subscriptSizing="dynamic">
                <mat-icon matIconPrefix svgIcon="mat:search"></mat-icon>
                <input matInput [formControl]="searchCtrl" placeholder="Search&hellip;" type="text" />
            </mat-form-field>

            <span class="flex-1"></span>

            <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4 flex-none" mat-icon-button
                matTooltip="Filter Columns" type="button">
                <mat-icon svgIcon="mat:filter_list"></mat-icon>
            </button>

            <button (click)="createCustomer()" class="ml-4 flex-none" color="primary" mat-mini-fab
                matTooltip="Add Customer" type="button">
                <mat-icon svgIcon="mat:add"></mat-icon>
            </button>
        </div>

        <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>
            <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

            <!-- Checkbox Column -->
            <ng-container matColumnDef="checkbox">
                <th *matHeaderCellDef mat-header-cell>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
                    </mat-checkbox>
                </th>
                <td *matCellDef="let row" class="w-4" mat-cell>
                    <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()"
                        [checked]="selection.isSelected(row)" color="primary">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Image Column -->
            <ng-container matColumnDef="image">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let row" class="w-8 min-w-8 p-0" mat-cell>
                    <img [src]="row['imageSrc']" class="avatar h-8 w-8 align-middle" />
                </td>
            </ng-container>

            <!-- Text Columns -->
            <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                        {{ column.label }}
                    </th>
                    <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                        {{ row[column.property] }}
                    </td>
                </ng-container>
            </ng-container>

            <!-- Contact Column -->
            <ng-container matColumnDef="contact">
                <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
                <td *matCellDef="let row" mat-cell>
                    <div class="flex">
                        <a (click)="$event.stopPropagation()"
                            class="w-8 h-8 p-0 leading-none flex items-center justify-center hover:bg-hover text-primary-600 bg-primary-600/10"
                            mat-icon-button>
                            <mat-icon class="icon-sm" svgIcon="mat:phone"></mat-icon>
                        </a>

                        <a (click)="$event.stopPropagation()"
                            class="w-8 h-8 p-0 leading-none flex items-center justify-center ml-1 hover:bg-hover text-teal-600 bg-teal/10"
                            mat-icon-button>
                            <mat-icon class="icon-sm" svgIcon="mat:mail"></mat-icon>
                        </a>

                        <a (click)="$event.stopPropagation()"
                            class="w-8 h-8 p-0 leading-none flex items-center justify-center ml-1 hover:bg-hover text-green-600 bg-green-600/10"
                            mat-icon-button>
                            <mat-icon class="icon-sm" svgIcon="mat:map"></mat-icon>
                        </a>
                    </div>
                </td>
            </ng-container>

            <!-- Label Column -->
            <ng-container matColumnDef="labels">
                <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                    Labels
                </th>
                <td *matCellDef="let row" mat-cell>
                    <div (click)="$event.stopPropagation()" class="flex items-center gap-1">
                        <div *ngFor="let label of row.labels" [ngClass]="[label.textClass, label.bgClass]"
                            class="rounded px-2 py-1 font-medium text-xs flex-none">
                            {{ label.text }}
                        </div>
                        <div
                            class="bg-base text-hint cursor-pointer hover:bg-hover flex-none flex items-center justify-center">
                            <mat-icon class="icon-sm" svgIcon="mat:add"></mat-icon>
                        </div>
                    </div>
                </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
                <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                    <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{ customer: row }"
                        [matMenuTriggerFor]="actionsMenu" mat-icon-button type="button">
                        <mat-icon svgIcon="mat:more_horiz"></mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
            <tr (click)="updateCustomer(row)" *matRowDef="let row; columns: visibleColumns" @fadeInUp
                class="hover:bg-hover transition duration-400 ease-out-swift cursor-pointer" mat-row></tr>
        </table>
        <mat-paginator class="sticky left-0" #paginator class="demo-paginator" (page)="handlePageEvent($event)"
            [length]="recordsTotal" [pageSize]="pageSize" [showFirstLastButtons]="true"
            [pageSizeOptions]="pageSizeOptions" [hidePageSize]="false" [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator>
    </div>
</div>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns" class="mat-menu-item block">
        <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
            {{ column.label }}
        </mat-checkbox>
    </button>
</mat-menu>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-customer="customer" matMenuContent>
        <button (click)="updateCustomer(customer)" mat-menu-item>
            <mat-icon svgIcon="mat:edit"></mat-icon>
            <span>Modify</span>
        </button>
        <button (click)="deleteCustomer(customer)" mat-menu-item>
            <mat-icon svgIcon="mat:delete"></mat-icon>
            <span>Delete</span>
        </button>
    </ng-template>
</mat-menu>